$ColorHoverLink: #0099cc
$ColorBlue: #d8e6f1

=bdrs ($NumberBdrs)
  -webkit-border-radius: $NumberBdrs
  -moz-border-radius: $NumberBdrs
  -ms-border-radius: $NumberBdrs
  border-radius: $NumberBdrs

=bdrsFive
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  -ms-border-radius: 5px
  border-radius: 5px

=TransRotate ($NumberRotate)
  -moz-transform: rotate(#{$NumberRotate}deg)
  -ms-transform: rotate(#{$NumberRotate}deg)
  -webkit-transform: rotate(#{$NumberRotate}deg)
  -o-transform: rotate(#{$NumberRotate}deg)
  transform: rotate(#{$NumberRotate}deg)

=TransitionBlock ($NumberTr)
  -webkit-transition: all #{$NumberTr}s linear
  -moz-transition: all #{$NumberTr}s linear
  -ms-transition: all #{$NumberTr}s linear
  -o-transition: all #{$NumberTr}s linear
  transition: all #{$NumberTr}s linear

=TransitionBlockPart ($OptionPr,$NumberPr)
  -webkit-transition: #{$OptionPr} #{$NumberPr}s linear
  -moz-transition: #{$OptionPr} #{$NumberPr}s linear
  -ms-transition: #{$OptionPr} #{$NumberPr}s linear
  -o-transition: #{$OptionPr} #{$NumberPr}s linear
  transition: #{$OptionPr} #{$NumberPr}s linear
  
=bgj ($NumberBgJ, $x, $y)
  background: url(../img/#{$NumberBgJ}.jpg) $x $y no-repeat

=bgp ($NumberBgP, $x, $y)
  background: url(../img/#{$NumberBgP}.png) $x $y no-repeat

=bgs ($NumberBgS, $x, $y)
  background: url(../img/svg/#{$NumberBgS}.svg) $x $y no-repeat

=TextBlockCenter ($hig)
  display: table-cell
  vertical-align: middle
  text-align: center
  height: $hig

=TextBlockMiddle ($higt)
  display: table-cell
  vertical-align: middle
  height: $higt

=AllBeforeBlock ($bleft, $btop, $bheight, $bwidth)
  content: ""
  position: absolute
  left: $bleft
  top: $btop
  height: $bheight
  width: $bwidth

=BoxShadow ($pr01, $pr02, $pr03, $colorv)
  -webkit-box-shadow: $pr01 $pr02 $pr03 $colorv
  -moz-box-shadow: $pr01 $pr02 $pr03 $colorv
  box-shadow: $pr01 $pr02 $pr03 $colorv

=BoxShadowInset ($pr01, $pr02, $pr03, $colorv)
  -webkit-box-shadow: inset $pr01 $pr02 $pr03 $colorv
  -moz-box-shadow: inset $pr01 $pr02 $pr03 $colorv
  box-shadow: inset $pr01 $pr02 $pr03 $colorv

=BasecLink ($acolor, $bcolor)
  a
    color: $acolor
    text-decoration: underline
    &:hover
      color: $bcolor
      text-decoration: underline

