script(src='js/jquery-3.2.1.min.js', type='text/javascript')

if(undefined !== pluginsJs)
  each item in pluginsJs
    script(type="text/javascript", src=item)

if(undefined !== individualJs)
  each item in individualJs
    script(type="text/javascript", src=item)

script(src='js/main.js', type='text/javascript')