head
  title= title
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width')
  link(href='img/favicon.ico', rel='shortcut icon', type='image/x-icon')
  link(rel='stylesheet', media='all', href='styles/normalize.css')

  if(undefined !== pluginsCss)
    each style in pluginsCss
      link(rel='stylesheet', href=style, type='text/css')

  if(undefined !== individualCss)
    each style in individualCss
      link(rel='stylesheet', href=style, type='text/css')

  link(rel='stylesheet', media='all', href='styles/styles.css')