head
  title= title
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(href='img/favicon.ico', rel='shortcut icon', type='image/x-icon')
  link(rel='stylesheet', media='all', href='css/normalize.css')
  //- ОБЯЗАТЕЛЬНО ПИШИТЕ ОТКРЫВАЮЩИЙ И ЗАКРЫВАЮЩИЙ КОММЕНТ СО СПИСКОМ СТРАНИЦ НА КОТОРЫХ ПРИМЕНЯЕТЬСЯ ФАЙЛ СТИЛЕЙ
  //- link(rel='stylesheet', media='all', href='js/slick/slick.css')
  //- link(rel='stylesheet', media='all', href='js/fancybox/fancybox.css')
  link(rel='stylesheet', media='all', href='css/styles.css')