script(src='js/jquery-3.2.1.min.js', type='text/javascript')
//- ОБЯЗАТЕЛЬНО ПИШИТЕ ОТКРЫВАЮЩИЙ И ЗАКРЫВАЮЩИЙ КОММЕНТ СО СПИСКОМ СТРАНИЦ НА КОТОРЫХ ПРИМЕНЯЕТЬСЯ ФАЙЛ СКРИПТА
//- script(src='js/slick/slick.min.js', type='text/javascript')
//- script(src='js/fancybox/mousewheel.js', type='text/javascript')
//- script(src='js/fancybox/fancybox.js', type='text/javascript')
//- script(src='js/jquery.inputmask.bundle.min.js', type='text/javascript')
script(src='js/main.js', type='text/javascript')