- var title = '— Товары'

- var pluginsCss = ['js/slick/slick.css', 'js/fancybox/fancybox.css', 'styles/font-awesome.min.css'];
//- var individualCss = [];

doctype html
html(lang='ru')
  include includes/head
  body
    .wrapper
      // Header
      header.header
      // Bread-Crumbs
      .center
        nav.bread-crumbs.clear
          a.bread-crumbs__link(href='') Главная
          span.bread-crumbs__slash /
          span.bread-crumbs__show Новости
        h1.title._inside Новости
      // Navigation Page
      .navigation.clear
        a.navigation__button._return(href='') Предыдущая
        a.navigation__number.active(href='') 1
        a.navigation__number(href='') 2
        a.navigation__number(href='') 3
        a.navigation__number(href='') 4
        a.navigation__number(href='') 5
        a.navigation__button._next(href='') Следующая
      .footer-jump
      // Footer
      footer.footer
      for el in Array(90)
        br
    // Popups Call Back
    - var pluginsJs = ['js/slick/slick.min.js', 'js/fancybox/mousewheel.js', 'js/fancybox/fancybox.js', 'js/jquery.inputmask.bundle.min.js'];
    //- var individualJs = [];
    include includes/footer