- var title = "Главная";

doctype html
html(lang='ru')
  include includes/head
  body
    .wrapper
      //header
      include includes/header
      //\header
      for el in Array(90)
        h3 Контент
      //footer
      include includes/footer
      //\footer
    //scripts
    include includes/scripts
    //\scripts